* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$maincolorwhite: #fff;
$maincolorgrey: #f8f8f8;
$maincolorblack: #222;
$maincolorgreen: #82b340;

body {
  font-family: "Roboto", sans-serif;
  background-color: $maincolorgrey;
}
